/* General Styles */

@font-face {
  font-family: 'Cocogoose';
  src: url('/fonts/Cocogoose.otf');
}

.container {
  width: 700px;
  margin: 0 auto;
}

/* Header Elements */

header {
  background-color: #3D3945;
  color: #ffffff;
  margin-bottom: 20px;
}

header .logo {
  color: #FFFFFF;
  font-family: 'Cocogoose';
  text-decoration: none;
  font-size: 50px;
  margin-left: 50px;
}

header input {
  color: #696969;
}

header a {
  color: #BAB4CC;
}

.account_management {
	list-style-type: none;
	margin-right: 30px;
	float: right;
}

.account_management form,
.account_management li {
	display: inline;
}

#login_form, #profile_form input {
	margin-right: 15px;
}

#creation_form {
	margin-left: 30px;
}

.clear_floats {
	clear:both;
}

#new_twit_form textarea {
	resize: none;
}

.sessionmessage {
  display: block;
  text-align: right;
  margin-right: 50px;
}


/* list styling */

.twitblocklist {
  list-style-type: none;
  background-color: #D7D4DD;
  padding: 10px;
  display: block;
  width: 35%;
  margin: 10px auto;
  border-radius: 5px;
  color: #403E46;
}

.blocklist{
  list-style-type: none;
}

.blocklist a {
  color: #4C3879;
  text-decoration: none;
  background-color: #C5BFD1;
  padding: 10px;
  display: block;
  width: 35%;
  margin: 10px auto;
  border-radius: 5px;
}

.blocklist a:hover {
  text-decoration: none;
  background-color: #9892A6;
  padding: 10px;
  display: block;
  width: 35%;
  margin: 10px auto;
  border-radius: 5px;
  color: #403E46;
}

.twitby {
  color: #57545E;
  display: block;
  text-align: right;
  margin-top: 10px;
  font-size: 0.85em;
}

.userstwits {
  width: 100%;
  color: #4C3879;
  text-decoration: none;
  background-color: #C5BFD1;
  padding: 10px;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}

.profilelist {
  list-style-type: none;
}

.profilelist li {
  margin-top: 5px;
}


/* FORM STYLING */
.mainform tr {
  padding-bottom: 3px;
}

.mainform tr td {
  padding: 3px;
  text-align: right;
}

.mainform tr td input {
  background-color: #D7D4DD;
}

.usertwit {
  width: 100%;
  margin: 0 auto;
}

.usertwit input, .usertwit textarea {
  width: 100%;
  margin: 0 auto;

}


/* header styles */
h1, h2, h3, h4 {
  color: #2A303A;
  margin-left: 50px;
  margin-bottom: 5px;
  font-size: 25px;
  text-transform: uppercase;
}



/*new styles */

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(128,0,128,0.6);
}

.inline_buttons {
  margin-right: 10px;
  float: right;
}

.align_right {
  text-align: right;
}

.bound {
  border: 2px solid #3D3945;
  border-radius: 5px;
}