<form action="/account/create" method="get">
<input type="submit" value="Create DoppleTwit Account">
</form>
<br>
<br>
<form action="/sessions/create" method="post">
User Name: <input type="text" name="username">
Password: <input type="password" name="password">
<input type="submit" value="DoppleTwit Login">
</form>
<%= session[:message] %>

