<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header id="top_nav">
    <a class="logo" href="/">DoppelTwit</a>
    <% if session[:id] == nil %>

      <ul class="account_management">
        <li>
          <form id="login_form" action="/sessions/create" method="post">
          User Name: <input type="text" name="username" size="10">
          Password: <input type="password" name="password" size="10">
          <input type="submit" value="Login">
          </form>
        </li>

        <li>
          <form id="creation_form" action="/account/create" method="get">
            <input type="submit" value="Create Account">
          </form>
        </li>
      </ul>
      <%= session[:message] %>

    <% else %>

      <ul class="account_management">
        <li>Hi there, user!</li>
        <li>
          <form id="logout_form" action="/logout" method="get">
            <input type="submit" value="Logout!">
          </form>
        </li>
      </ul>

    <% end %>
    <div class="clear_floats"></div>
  </header>

  <%= yield %>
</body>
</html>
