<h2>Change Password</h2>
<%= session[:message] %>
<form action="/account/create" method="post">
	Old Password: <input type="password" name="old_password"><br/>
	New Password: <input type="password" name="password"><br/>
	Confirm Password: <input type="password" name="confirm_password"><br/>
	<input type="submit" value="Update">
</form>