<div class="container">
  <h2>Change Password</h2>
  <%= session[:message] %>
  <form action="/profile/<%= @current_user.username %>/password" method="post">
    <table class="mainform">
    	<tr><td>Old Password:</td> <td><input type="password" name="old_password"></td></tr>
    	<tr><td>New Password:</td> <td><input type="password" name="new_password"></td></tr>
    	<tr><td>Confirm Password:</td> <td><input type="password" name="confirm_password"></td></tr>
      <tr><td></td><td><input type="submit" value="Update"></td></tr>
    </table>
  </form>

  <p>Debugger<<br><%= @current_user.password %></p>
</div>