
<% if session[:id] = @user.id %>
<form id="new_twit_form" action="/post_twit" method="post">
	<textarea name="content" rows="5" cols="35" maxlength="140"></textarea>
	<input type="submit" value="Give a twit!">
</form>
<% end %>
<% if Twit.find_by_user_id(@user.id) == nil %>
	<h4><%= @user.name %> (<%= @user.username %>) has no twits. He is a ledig-twit.
<% else %>
	<ul>
		<% Twit.where(user_id: @user.id).each do |twit| %>
			<li><%= twit.content %></li><br/>
		<% end %>
	</ul>
<% end %>
